#layout_side-content-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}


/**
 * Toggle Side drawer
 */
#layout_side-content-wrapper.layout_side-content-wrapper_opened {
  transform: translate(200px);
}
