$side-padding: 40px;
$connection: 1px solid #838383;

.pair {
    width: 480px;
    display: block;
}

.pair::before {
    content: '';
    display: block;
    position: absolute;
    border-bottom: $connection;
    top: 50%;
    width: 100%;
    z-index: -10;
}

.pair_with-childs:after {
    content: '';
    display: block;
    position: absolute;
    border-left: $connection;
    top: 50%;
    left: 50%;
    height: 50%;
}

.pair__item {
    display: inline-block;
    z-index: 10;
    position: relative;
}

.pair__item_first {
    margin-right: $side-padding;
}

.pair__item_last {
    margin-left: $side-padding;
}

.pair__item_first.pair__item_nested::after {
    content: '';
    display: block;
    position: absolute;
    border-right: $connection;
    top: -31px;
    right: 50%;
    height: 31px;
    width: 100%;
    z-index: -50;
}

.pair__item_last.pair__item_nested.pair__item_edge-right::after {
    content: '';
    display: block;
    position: absolute;
    top: -31px;
    height: 31px;
    left: -180px;
    width: 410px;
    z-index: -100;
}

.pair__item_last.pair__item_nested.pair__item_edge-left.pair__item_edge-right::after {
    left: -40px;
    width: 150%;
}

.pair__item_first.pair__item_nested.pair__item_edge-left::after,
.pair__item_last.pair__item_nested.pair__item_edge-right::after
{
    border-top: 1px solid white;
}
